<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head data-id="__react-email-head">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>@media (min-width: 640px) {
    .sm_px_6 {
      padding-left: 1.5rem !important;;
      padding-right: 1.5rem !important;
    }
  }</style>
</head>
<div id="__react-email-preview"
     style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0">Join LINE
  Technology Vietnam TECHTALK 5
  <div>
     ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿ ‌​‍‎‏﻿
  </div>
</div>
<body data-id="__react-email-body"
      style="background-color:rgb(255,255,255);font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,Oxygen-Sans,Ubuntu,Cantarell,&quot;Helvetica Neue&quot;,sans-serif;width:600px;margin:0 auto">
<table align="center" width="100%" data-id="__react-email-container" role="presentation" cellSpacing="0"
       cellPadding="0" border="0" style="max-width:37.5em;margin-top:0px;margin-bottom:0px;width:100%">
  <tbody>
  <tr style="width:100%">
    <td>
      <table align="center" width="100%" data-id="react-email-section" border="0" cellPadding="0"
             cellSpacing="0" role="presentation" style="margin-top:1.5rem">
        <tbody>
        <tr>
          <td><img data-id="react-email-img" alt="Header"
                   src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/header.png"
                   width="100%" height="auto"
                   style="display:block;outline:none;border:none;text-decoration:none;margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto" />
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td><p data-id="react-email-text"
                 style="font-size:1rem;line-height:1.5rem;margin:16px 0;font-weight:700">Sự kiện TECHTALK 6 -
            Điểm đến của các kỹ sư đam mê Big Data và AI</p>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="text-align:center;margin-top:32px;margin-bottom:32px;padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td><a href="https://vietnamdevcenter.linecorp.com/techtalk5" data-id="react-email-button"
                 target="_blank"
                 style="line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:12px 32px;background-color:rgb(6,199,85);color:rgb(255,255,255);text-decoration-line:none;text-align:center;font-weight:700"><span></span><span
            style="max-width:100%;display:inline-block;line-height:120%;mso-padding-alt:0px;mso-text-raise:9px">Đăng ký ngay</span><span></span></a>
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td>
            <p data-id="react-email-text" style="font-size:1rem;line-height:1.5rem;margin:16px 0">Sự kiện chia
              sẻ kiến thức, được tổ chức bởi LINE Technology Vietnam, là cơ hội không thể bỏ lỡ để cập nhật xu
              hướng công nghệ mới, cùng bài học được đúc rút từ quá trình phát triển sản phẩm có quy mô hàng
              trăm triệu người dùng. Năm nay, chuyên gia của chúng tôi sẽ mở cánh cửa đến những kiến thức và
              cách tiếp cận trong lĩnh vực Big Data và AI.</p>
            <p data-id="react-email-text" style="font-size:1rem;line-height:1.5rem;margin:16px 0">✓ Kiến thức chuyên sâu</p>
            <p data-id="react-email-text" style="font-size:1rem;line-height:1.5rem;margin:16px 0">✓ Gặp gỡ chuyên gia</p>
            <p data-id="react-email-text" style="font-size:1rem;line-height:1.5rem;margin:16px 0">✓ Kết nối và phát triển</p>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="font-weight:700;background-color:rgb(0,99,230);padding-top:1.5rem;padding-bottom:1.5rem;padding-left:0.75rem;padding-right:0.75rem;margin-top:1rem">
        <tbody>
        <tr>
          <td><p data-id="react-email-text"
                 style="font-size:1.5rem;line-height:2rem;margin:0px;color:rgb(255,255,255)">#1</p>
            <h1 data-id="react-email-heading"
                style="text-transform:uppercase;font-size:1.5rem;line-height:2rem;color:rgb(255,255,255);margin-top:0px;margin-bottom:0.75rem">
              Introducing FREY:<br />LY Corporation's new self-service batch ingestion system</h1>
            <p data-id="react-email-text"
               style="font-size:1.125rem;line-height:1.75rem;margin:0px;color:rgb(255,255,255)">Mạc Quang Huy</p></td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="font-weight:700;background-color:rgb(0,99,230);padding-top:1.5rem;padding-bottom:1.5rem;padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td><p data-id="react-email-text"
                 style="font-size:1.5rem;line-height:2rem;margin:0px;color:rgb(255,255,255)">#2</p>
            <h1 data-id="react-email-heading"
                style="text-transform:uppercase;font-size:1.5rem;line-height:2rem;color:rgb(255,255,255);margin-top:0px;margin-bottom:0.75rem">
              DORA Metric:<br />How to measure and improve<br /> project performance in LY Corporation</h1>
            <p data-id="react-email-text"
               style="font-size:1.125rem;line-height:1.75rem;margin:0px;color:rgb(255,255,255)">Nguyễn Tiến Đạt</p></td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="font-weight:700;background-color:rgb(0,99,230);padding-top:1.5rem;padding-bottom:1.5rem;padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td><p data-id="react-email-text"
                 style="font-size:1.5rem;line-height:2rem;margin:0px;color:rgb(255,255,255)">#3</p>
            <h1 data-id="react-email-heading"
                style="text-transform:uppercase;font-size:1.5rem;line-height:2rem;color:rgb(255,255,255);margin-top:0px;margin-bottom:0.75rem">
              Application of Embedding in OpenAI to the problem of Contextual searching</h1>
            <p data-id="react-email-text"
               style="font-size:1.125rem;line-height:1.75rem;margin:0px;color:rgb(255,255,255)">Nguyễn Trọng Phúc</p>
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" data-id="react-email-section" border="0" cellPadding="0"
             cellSpacing="0" role="presentation" style="margin-top:32px">
        <tbody>
        <tr>
          <td><img data-id="react-email-img" alt="Banner"
                   src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/banner.png"
                   width="100%" height="auto"
                   style="display:block;outline:none;border:none;text-decoration:none;margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto" />
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="margin-top:2rem;padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td><img data-id="react-email-img" alt="Techtalk 5 Logo"
                   src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/tt5-logo.png"
                   width="200px" height="auto"
                   style="display:block;outline:none;border:none;text-decoration:none;margin-top:0px;margin-bottom:0.75rem" />
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0"
                   cellPadding="0" border="0">
              <tbody style="width:100%">
              <tr style="width:100%">
                <td data-id="__react-email-column" style="width:1rem;font-size:1.5rem;line-height:1">•</td>
                <td data-id="__react-email-column"><p data-id="react-email-text"
                                                      style="font-size:1rem;line-height:1.5rem;margin:16px 0;margin-top:0.125rem;margin-bottom:0.125rem;margin-left:0px;margin-right:0px">
                  8:00 - 11:30 thứ Bảy, 29/06/2024</p></td>
              </tr>
              </tbody>
            </table>
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0"
                   cellPadding="0" border="0">
              <tbody style="width:100%">
              <tr style="width:100%">
                <td data-id="__react-email-column" style="width:1rem;font-size:1.5rem;line-height:1">•</td>
                <td data-id="__react-email-column"><p data-id="react-email-text"
                                                      style="font-size:1rem;line-height:1.5rem;margin:16px 0;margin-top:0.125rem;margin-bottom:0.125rem;margin-left:0px;margin-right:0px">
                  LINE Technology Vietnam, Hà Nội</p></td>
              </tr>
              </tbody>
            </table>
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0"
                   cellPadding="0" border="0">
              <tbody style="width:100%">
              <tr style="width:100%">
                <td data-id="__react-email-column" style="width:1rem;font-size:1.5rem;line-height:1">•</td>
                <td data-id="__react-email-column"><p data-id="react-email-text"
                                                      style="font-size:1rem;line-height:1.5rem;margin:16px 0;margin-top:0.125rem;margin-bottom:0.125rem;margin-left:0px;margin-right:0px">
                  Kết nối với cộng đồng kỹ sư IT</p></td>
              </tr>
              </tbody>
            </table>
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0"
                   cellPadding="0" border="0">
              <tbody style="width:100%">
              <tr style="width:100%">
                <td data-id="__react-email-column" style="width:1rem;font-size:1.5rem;line-height:1">•</td>
                <td data-id="__react-email-column"><p data-id="react-email-text"
                                                      style="font-size:1rem;line-height:1.5rem;margin:16px 0;margin-top:0.125rem;margin-bottom:0.125rem;margin-left:0px;margin-right:0px">
                  Tất cả chủ đề được trình bày bằng tiếng Việt</p></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="text-align:center;margin-top:32px;margin-bottom:32px;padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td><a href="https://vietnamdevcenter.linecorp.com/techtalk5" data-id="react-email-button"
                 target="_blank"
                 style="line-height:100%;text-decoration:none;display:inline-block;max-width:100%;padding:12px 32px;background-color:rgb(6,199,85);color:rgb(255,255,255);text-decoration-line:none;text-align:center;font-weight:700"><span></span><span
            style="max-width:100%;display:inline-block;line-height:120%;mso-padding-alt:0px;mso-text-raise:9px">Đăng ký ngay</span><span></span></a>
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" class="sm_px_6" data-id="react-email-section" border="0"
             cellPadding="0" cellSpacing="0" role="presentation"
             style="margin-top:32px;padding-left:0.75rem;padding-right:0.75rem">
        <tbody>
        <tr>
          <td><p data-id="react-email-text"
                 style="font-size:1rem;line-height:1.5rem;margin:16px 0;margin-bottom:0.25rem;margin-top:0.125rem">
            Để biết thêm thông chi tiết, vui lòng liên hệ:</p>
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0"
                   cellPadding="0" border="0">
              <tbody style="width:100%">
              <tr style="width:100%">
                <td data-id="__react-email-column" style="width:1.5rem;font-size:1.5rem;line-height:2rem"><img
                  data-id="react-email-img" alt="Email"
                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/email.png"
                  width="16" height="16"
                  style="display:block;outline:none;border:none;text-decoration:none;margin:auto" /></td>
                <td data-id="__react-email-column"><p data-id="react-email-text"
                                                      style="font-size:1rem;line-height:1.5rem;margin:16px 0;margin-left:0px;margin-right:0px;margin-top:0.125rem;margin-bottom:0.125rem">
                  <a href="mailto:dl_ltv_tateam@linecorp.com" data-id="react-email-link" target="_blank"
                     style="color:rgb(0,0,0);text-decoration:none">dl_ltv_tateam@linecorp.com</a></p></td>
              </tr>
              </tbody>
            </table>
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0"
                   cellPadding="0" border="0">
              <tbody style="width:100%">
              <tr style="width:100%">
                <td data-id="__react-email-column" style="width:1.5rem;font-size:1.5rem;line-height:2rem"><img
                  data-id="react-email-img" alt="Phone"
                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/phone.png"
                  width="16" height="16"
                  style="display:block;outline:none;border:none;text-decoration:none;margin:auto" /></td>
                <td data-id="__react-email-column"><p data-id="react-email-text"
                                                      style="font-size:1rem;line-height:1.5rem;margin:16px 0;margin-left:0px;margin-right:0px;margin-top:0.125rem;margin-bottom:0.125rem">
                  Hotline: <a href="tel:0866506658" data-id="react-email-link" target="_blank"
                              style="color:rgb(0,0,0);text-decoration:none">0975 4456 91</a> (Ms. BichThuy)</p>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table align="center" width="100%" data-id="react-email-section" border="0" cellPadding="0"
             cellSpacing="0" role="presentation" style="margin-top:2rem;margin-bottom:2rem">
        <tbody>
        <tr>
          <td></td>
          <td data-id="__react-email-column"><a href="https://vietnamdevcenter.linecorp.com"
                                                data-id="react-email-link" target="_blank"
                                                style="color:#067df7;text-decoration:none"><img
            data-id="react-email-img" alt="LTV Logo"
            src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/LTV-logo.png"
            width="110px" height="auto"
            style="display:block;outline:none;border:none;text-decoration:none;margin-top:0px;margin-bottom:0px;margin-left:0.5rem" /></a>
          </td>
          <td data-id="__react-email-column" style="width:200px">
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0"
                   cellPadding="0" border="0">
              <tbody style="width:100%">
              <tr style="width:100%">
                <td data-id="__react-email-column" style="width:2rem"><a
                  href="https://vietnamdevcenter.linecorp.com" data-id="react-email-link" target="_blank"
                  style="color:#067df7;text-decoration:none"><img data-id="react-email-img" alt="Website"
                                                                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/globe.png"
                                                                  style="display:block;outline:none;border:none;text-decoration:none;height:2rem;width:2rem;object-fit:contain;margin:auto" /></a>
                </td>
                <td data-id="__react-email-column" style="width:2rem"><a
                  href="https://www.facebook.com/LINETechnologyVietnam" data-id="react-email-link"
                  target="_blank" style="color:#067df7;text-decoration:none"><img data-id="react-email-img"
                                                                                  alt="Facebook"
                                                                                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/facebook.png"
                                                                                  style="display:block;outline:none;border:none;text-decoration:none;height:2rem;width:2rem;object-fit:contain;margin:auto" /></a>
                </td>
                <td data-id="__react-email-column" style="width:2rem"><a
                  href="https://www.linkedin.com/company/linetechnologyvietnam" data-id="react-email-link"
                  target="_blank" style="color:#067df7;text-decoration:none"><img data-id="react-email-img"
                                                                                  alt="Linkedin"
                                                                                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/linkedin.png"
                                                                                  style="display:block;outline:none;border:none;text-decoration:none;height:2rem;width:2rem;object-fit:contain;margin:auto" /></a>
                </td>
                <td data-id="__react-email-column" style="width:2rem"><a
                  href="https://www.youtube.com/c/LINETechnologyVietnam" data-id="react-email-link"
                  target="_blank" style="color:#067df7;text-decoration:none"><img data-id="react-email-img"
                                                                                  alt="Youtube"
                                                                                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/youtube.png"
                                                                                  style="display:block;outline:none;border:none;text-decoration:none;height:2rem;width:2rem;object-fit:contain;margin:auto" /></a>
                </td>
                <td data-id="__react-email-column" style="width:2rem"><a
                  href="https://sptfy.com/LINETechnologyVietnam" data-id="react-email-link" target="_blank"
                  style="color:#067df7;text-decoration:none"><img data-id="react-email-img" alt="Spotify"
                                                                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/spotify.png"
                                                                  style="display:block;outline:none;border:none;text-decoration:none;height:2rem;width:2rem;object-fit:contain;margin:auto" /></a>
                </td>
                <td data-id="__react-email-column" style="width:2rem"><a
                  href="https://techblog.lycorp.co.jp/vi" data-id="react-email-link" target="_blank"
                  style="color:#067df7;text-decoration:none"><img data-id="react-email-img" alt="Spotify"
                                                                  src="https://static.line-scdn.net/ltv-tech-talk/edge/techtalk-5/email/marketing-15062023-1521/spotify.png"
                                                                  style="display:block;outline:none;border:none;text-decoration:none;height:2rem;width:2rem;object-fit:contain;margin:auto" /></a>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
